@import 'media';

.header {
    background-image: url("../asset/header-bg.png");
    color: $header-textcolor;
    width: 100%;
    min-height: $header-height;
    padding: 1rem;
    position: relative;
    text-align: center;
    .fork-me {
        top: -1rem;
        left: -4rem;
        height: 8rem;
        width: 11rem;
        border: 0;
        &:before {
            background-color: #333;
        }
        display: block;
        @include screen-tiny {
            display: none;
        }
    }
    .language {
        top: -0.8rem;
        right: -2.7rem;
        height: 8rem;
        width: 11rem;
        border: 0;
        cursor: pointer;
        &:before {
            background-color: #333;
        }
        @include screen-tiny {
            display: none;
        }
    }
    .header-wrapper {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .app-title {
            position: relative;
            font-size: 2.5rem;
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            @include screen-tiny {
                font-size: 2rem;
                padding-top: 2rem;
                line-height: 3rem;
            }
            @include screen-small {
                font-size: 2.2rem;
            }
        }
        .checkbox-wrapper {
            display: block;
            @include screen-tiny {
                display: none;
            }
            position: relative;
            font-size: 1rem;
            .h1-checkbox {
                margin-left: 2rem;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

