::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background: rgba(128,128,128,0.1);
}
::-webkit-scrollbar:hover {
    background: rgba(128,128,128,0.2)
}
::-webkit-scrollbar-thumb {
    background: rgba(102,128,153,0.2);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(102,128,153,0.5)
}
::-webkit-scrollbar-corner {
    background: rgba(102,128,153,0.1)
}